{% extends "layout.html"%}

{% block content %}
<!-- Contact Section -->
<section class="page-section" id="Djelatnici">
        <div class="container">
    
          <!-- Contact Section Heading -->
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Djelatnici</h2>
    
          <!-- Icon Divider -->
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
              <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"> </div>
          </div>

          <div class="container" id="app">
            <h3>Djelatnici</h3>
            <li v-for="radnici in info" class="radnici">
               Ime: [[ radnici.ime ]], 
               Vrsta Djelatnika: [[ radnici.vrsta_djelatnika ]], 
            </li>
          </div>
          <div>
              <a class="btn btn-success" href="/djelatnici/dodaj">dodaj novog</a>
          </div>
          
      </section>
{% endblock %} 

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script>
  var vm = new Vue({
    el: "#app",
    delimiters: ['[[',']]'],
    data () {
      return{
        info: []
      }   
    },
    mounted () {
      axios
      .get('http://127.0.0.1:5000/djelatnici')
      .then(response => (this.info = response.data.djelatnik))
    },
    
  })
</script>
{% endblock %} 
