{% extends "layout.html"%}

{% block content %}
  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
      <div class="container d-flex align-items-center flex-column">
  
        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" src="/static/img/logo.png" alt="">
  
     
  
      </div>
    </header>

<!-- Kalendar Section -->
<section class="page-section Kalendar" id="kalendar">
        <div class="container">
    
          <!-- Kalendar Section Heading -->
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Kalendar</h2>
    
         
          
    
        </div>
      </section>
{% endblock %}      